@{
    ViewData["Title"] = "Mockups";
}

<div class="text-left">
    <h1 class="display-4">Mockups</h1>
    <ul>
        <li><a href="Mockups/AllForums">All Forums</a></li>
        <li><a href="Mockups/SingleForum">Single Forum</a></li>
        <li><a href="Mockups/SingleTopic">Single Topic</a></li>
        <li><a href="Mockups/FilesSystem">Files System</a></li>
    </ul>
</div>
